<template lang="pug">
  #app
    app-header
    router-view
    app-footer
</template>

<style lang="scss">

</style>

<script>
  import appHeader from 'components/Header';
  import appFooter from 'components/Footer';  

  export default {
    components: { appHeader, appFooter },
    data(){
      return {

      }
    },
  }
</script>
