<template lang="pug">
    .container(:class="isBig")
        .card(@click="onClickCard")
            .title {{info.title}}
            .description {{info.description}}
</template>

<script>
export default {
    props: ['info'],
    computed: {
        isBig(){
            return this.info.type === 'double' ? 'double' : ''
        }
    },
    methods:{
        onClickCard(){
            this.$router.push('/cardInfo/'+this.info.id)
        }
    }
}
</script>

<style lang="scss" scoped>
.container{
    width: calc( 100% / 3);
    display: flex;
    justify-content: center;
}
.card{
    margin: 20px;
    padding: 15px;
    box-sizing: border-box;
    width: 350px;
    color:#fff;
    cursor: pointer;
    background-image: url('/img/placeimg_350_480_any.jpg');
    .description{
        margin-bottom: 20px;
    }
}
.double{
    width: calc( 200% / 3);
    .card{
        width: 700px;
    }
}


@media (max-width: 1024px) {
    .container{
        width: 50%;
    }
    .card{
        width: 350px;
    }
    .double{
        width: 100%;
        .card{
            width: 100%;
        }
    }
}
@media (max-width: 480px) {
    .container{
        width: 100%;
    }
    .card{
        width: 100%;
    }
    .double{
        width: 100%;
    }
}
</style>
