<template lang="pug">
    div 
        .title {{info.title}}
        .text {{info.text}}
</template>

<script>
export default {
    data(){
        return {

        }
    },
    computed:{
        info(){
            return this.$store.state.testResponse.tiles[this.$route.params.id]
        } 
    }
}
</script>
