<template lang="pug">
    .list: Card(v-for="el in content", :info="el")
</template>

<script>
import Card from './Card'
export default {
    components: {Card},
    data(){
        return {
            content: []
        }
    },
    methods:{
        getContent(){
            this.$store.dispatch('getContent',{
                callback: (data)=>{ 
                    this.content = data;
                }
            });
        }
    },
    beforeMount(){
        this.getContent();
    }
}
</script>

<style lang="scss" scoped>
.list{
    margin: auto;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
</style>

