<template lang="pug">
	header: el-menu(:default-active="activeIndex", class="el-menu-demo", mode="horizontal", @select="handleSelect")
		el-menu-item(index="/") Home
		el-menu-item(index="about") About
		el-menu-item(index="whatEver") What Ever
</template>


<script>
  export default {
    data () {
      return {
		activeIndex: '/',
		link: document.location.pathname
      }
		},
		computed: {	

		},
		methods:{
			handleSelect(val){
				this.$router.push(val);
			},
		},
  }
</script>
